body {
    margin: 5%;
}

h1 {
    font-family: sans-serif;
    text-align: center;
}

#test {
    display: none;
}

div.search_tools {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    margin-bottom: 0.1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.subtitle {
    width: 100%;
    font-style: italic;
    font-size: 0.8em;
    font-family: sans-serif;
    color: grey;
}

.reset_btn {
    float:right;
}

.headline {
    font-family: serif;
    margin-bottom: 0;
}

.source {
    
    margin-right: 3%;
    float: left;
}

.date {
    float: left;
    padding-left: 3%;
    border-left: 1px solid grey;
}

.content {
    font-family: serif;
    clear: left;
}

.search_tools input {
    margin: 1%;
}

#search_input {
    flex-grow: 8;
}

.search_btn {
    flex-grow: 1;
}

#phrase_query {
    flex-grow: 1;
    
}

.hitbox {
    /* border-style: solid;
    border-width: 0.1em; */
    background-color: #eeeeee;
    margin-top: 0.2%;
    padding: 0.5em 1em 0.5em 1em;

}
.hitbox:hover {
    background-color: #dddddd;
}

.continue_btn {
    margin-bottom: 0.2em;
}

